/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CUSTOM STYLES */
html {
    font-size: 18px;
}
body {
    line-height: 1.5;
}
/*  GENERAL STYLES */

/* CONTAINER */
 .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 6rem;
 }
 /* FLEX */
 .flex {
 display: flex;
 }
 .justify-bw {
 justify-content: space-between;
 }
 .justify-center {
     justify-content: center;
 }
 .align-center {
  align-items: center;
 }
 .space-around {
     justify-content: space-around;
 }
 a {
     text-decoration: none;
 }
.width-full {
    width: 100%;
}
.btn {
 display: inline-block;
 padding: 1rem 1.5rem;
 border-radius: 8px;
 color: rgb(50,67,119);
 font-size: 1.5rem;
 font-weight: 900;    
}

 /* PAGE HEADER */
 .page-header {
     padding: 1rem 0;
     width: 100%;
     position: absolute;
 }
 .brand {
     font-size: 1.5rem;
     color: #fff;
     font-weight: 800;
 }
 #toggle, .bars  {
    display: none;
}
 .top-nav {
     width: 30%;
 }
 .top-nav a {
     color: #fff;
     font-size: 1.2rem;
 }

 /* HERO SECTION */

 .hero {
     background: rgb(89,191,194);
     height: 100vh;
     margin-bottom: 15rem;
 }
 .hero-content {
     width: 70%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;
  } 
 .page-title {
     font-size: 4rem;
     line-height: 1;
     text-align: center;
     color: #fff;
     margin-top: 16rem;
     text-transform: capitalize;
 }
 .primary-btn {
     background: #fff;
     margin-top: 2rem;
 }
 .hero-content img {
     margin-top: -5rem;
     box-shadow: 0px 30px 12px -12px rgb(177, 172, 172);
 }
 /* FILES SECTION */ 
 .files nav {
     border-bottom: 2px solid grey;
     padding-bottom: 2rem;
 }
 .files a {
     display: flex;
     width: 20%;
     align-items: center;
     font-size: 1.5rem;
     font-weight: 900;
     color: rgb(189,200,224);
 }
 .files a img {
     padding-right: .5rem;
 }
 a[href$= ".pdf"] {
     color: rgb(189,200,224);
     font-weight: 900;
 } 
 .learning-monitor {
     margin-top: 3rem;
     margin-bottom: 3rem;
 }
 .monitor-description {
     width: 40%;
 }
 .monitor-description h3 {
     font-size: 2rem;
     font-weight: 600;
     color: rgb(40,62,125);
 }
 .monitor-description p {
     font-size: 1.3rem;
     font-weight: 700;
     color: rgb(114,133,177);
 }
 .learn-btn {
     color: #fff;
     font-weight: 900;
     display: inline-block;
     padding: .35rem 1.4rem;
     background: rgb(89,191,194);
     position: relative;
     margin-left: 2rem;
 }
 .learn-btn::before {
     content: "";
     width: 30px;
     height: 30px;
     background: #fff;
     transform: rotate(45deg);
     display: inline-block;
     position: absolute;
     left: -20px;
 }
 .learn-btn::after {
    content: "";
    width: 29px;
    height: 29px;
    background: rgb(89,191,194);
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    right: -16px;
}
 .graph-container {
     width: 40%;
 }
/* TABLE */ 
.table-container h2 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: rgb(40,62,125);
}
table {
    width: 100%;
}
td {
    padding-right: 2rem;
}

tr:first-child {
    background: rgb(89,191,194);
    font-size: 1.5rem;
    border-radius: 20px;
}
tr:first-child td {
    padding: .75rem;
}

 @media screen and (max-width:768px) {
    html {
        font-size: 12px;
    }
    body {
        background: red;
    }
    .container {
        max-width: 720px;
        width: 100%;
        padding: 0 2rem;
        margin: 0 auto;
    }
    /* FLEX */
    .flex-100 {
        flex: 0 1 100%;
        margin-bottom: 2rem;
    }
    .wrap{
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }
    .order-1 {
        order: 1;
    }
    .sm-column {
        flex-direction: column;
    }
    .sm-center {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    /* HERO */

     /* NAVIGATION MENU */
     .page-header {
         position: fixed;
     }
     .brand {
        position: relative;
        z-index: 99;
        color: #fff;
     }
     .page-header .brand:hover:hover {
         color: #fff;
     }
     .top-nav {
        display: none;
     }
     .top-nav li {
        margin-top: 3rem;
     }
     #toggle:checked~ .top-nav {
        display: inline-block;
     }
     .page-header .bars {
        font-size: 5rem;
        position: relative;
        z-index: 100;
        display: inline-block;
        color: rgba(192, 13, 13, 0.651); 
     }
     .top-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        padding-top: 120px;
        background: rgba(59,80,172,.8);
     }
 }